**Simple data analysis of mobiles sold**

In [1]:
import pandas

In [2]:
url="https://raw.githubusercontent.com/sohamglobal/datasets/refs/heads/main/Flipkart_Mobiles.csv"
df=pandas.read_csv(url)
print(df)

        Brand   Model            Color Memory Storage  Rating  Selling Price  \
0        OPPO     A53  Moonlight Black   4 GB   64 GB     4.5          11990
1        OPPO     A53       Mint Cream   4 GB   64 GB     4.5          11990
2        OPPO     A53  Moonlight Black   6 GB  128 GB     4.3          13990
3        OPPO     A53       Mint Cream   6 GB  128 GB     4.3          13990
4        OPPO     A53   Electric Black   4 GB   64 GB     4.5          11990
...       ...     ...              ...    ...     ...     ...            ...
3109  SAMSUNG  M52 5G    Blazing Black   6 GB  128 GB     4.3          25990
3110  SAMSUNG  M52 5G         Icy Blue   6 GB  128 GB     4.3          25489
3111  SAMSUNG  M52 5G         Icy Blue   8 GB  128 GB     4.3          27239
3112  SAMSUNG  M52 5G      Slate Black   8 GB  128 GB     4.2          22989
3113  SAMSUNG  M52 5G         Sky Blue   8 GB  128 GB     4.2          20350

      Original Price
0              15990
1              15990
2              17990
3              17990
4              15990
...              ...
3109           25990
3110           28449
3111           31489
3112           22989
3113           22595

[3114 rows x 8 columns]

**Top 5 performing mobile brands**

In [3]:
top_brands=df['Brand'].value_counts().head(5)
print(top_brands)

Brand
SAMSUNG    719
Apple      387
realme     327
OPPO       260
Nokia      213
Name: count, dtype: int64

**Top 10 Brand percentage share**

In [4]:
brand_count=df['Brand'].value_counts()
print(brand_count.sum())

3114

In [6]:
print(brand_count)

Brand
SAMSUNG         719
Apple           387
realme          327
OPPO            260
Nokia           213
Xiaomi          198
Infinix         151
GIONEE          129
vivo            124
Lenovo          121
ASUS            118
Motorola        105
LG               99
POCO             74
HTC              55
Google Pixel     29
IQOO              5
Name: count, dtype: int64

In [7]:
brand_perc=(brand_count/brand_count.sum())*100
brand_distribution=pandas.DataFrame({'Count':brand_count,'Percentage':brand_perc})
print(brand_distribution)

              Count  Percentage
Brand
SAMSUNG         719   23.089274
Apple           387   12.427746
realme          327   10.500963
OPPO            260    8.349390
Nokia           213    6.840077
Xiaomi          198    6.358382
Infinix         151    4.849069
GIONEE          129    4.142582
vivo            124    3.982017
Lenovo          121    3.885678
ASUS            118    3.789338
Motorola        105    3.371869
LG               99    3.179191
POCO             74    2.376365
HTC              55    1.766217
Google Pixel     29    0.931278
IQOO              5    0.160565

**Mobile sales on Color**

In [8]:
top_colors=df['Color'].value_counts().head()
print(top_colors)

Color
Black     489
Gold      195
White     154
Blue      146
Silver    104
Name: count, dtype: int64

**Best rated mobiles**

In [9]:
best_rated_mobiles=df[['Model','Brand','Rating']].sort_values(by='Rating',ascending=False).head(15)
print(best_rated_mobiles)

                   Model    Brand  Rating
2789             X60 Pro     vivo     5.0
2791               X50       vivo     5.0
2799                  S2     vivo     5.0
2021      SM-B310EZDDINS  SAMSUNG     5.0
1348      iPhone 7 Plus     Apple     5.0
1252      iPhone 7 Plus     Apple     5.0
2797                 Z1x     vivo     5.0
2771                Y33T     vivo     4.9
3061                9 5G   realme     4.8
3062                9 5G   realme     4.8
1356          iPhone XS     Apple     4.7
1192  iPhone 11 Pro Max     Apple     4.7
1313  iPhone 11 Pro Max     Apple     4.7
1363           iPhone 7     Apple     4.7
244                U11+       HTC     4.7