**Simple data analysis of mobiles sold**

In [1]:
import pandas

In [2]:
url="https://raw.githubusercontent.com/sohamglobal/datasets/refs/heads/main/Flipkart_Mobiles.csv"
df=pandas.read_csv(url)
print(df)

        Brand   Model            Color Memory Storage  Rating  Selling Price  \
0        OPPO     A53  Moonlight Black   4 GB   64 GB     4.5          11990
1        OPPO     A53       Mint Cream   4 GB   64 GB     4.5          11990
2        OPPO     A53  Moonlight Black   6 GB  128 GB     4.3          13990
3        OPPO     A53       Mint Cream   6 GB  128 GB     4.3          13990
4        OPPO     A53   Electric Black   4 GB   64 GB     4.5          11990
...       ...     ...              ...    ...     ...     ...            ...
3109  SAMSUNG  M52 5G    Blazing Black   6 GB  128 GB     4.3          25990
3110  SAMSUNG  M52 5G         Icy Blue   6 GB  128 GB     4.3          25489
3111  SAMSUNG  M52 5G         Icy Blue   8 GB  128 GB     4.3          27239
3112  SAMSUNG  M52 5G      Slate Black   8 GB  128 GB     4.2          22989
3113  SAMSUNG  M52 5G         Sky Blue   8 GB  128 GB     4.2          20350

      Original Price
0              15990
1              15990
2              17990
3              17990
4              15990
...              ...
3109           25990
3110           28449
3111           31489
3112           22989
3113           22595

[3114 rows x 8 columns]

**Top 5 performing mobile brands**

In [3]:
top_brands=df['Brand'].value_counts().head(5)
print(top_brands)

Brand
SAMSUNG    719
Apple      387
realme     327
OPPO       260
Nokia      213
Name: count, dtype: int64

**Top 10 Brand percentage share**

In [4]:
brand_count=df['Brand'].value_counts()
print(brand_count.sum())

3114

In [5]:
print(brand_count)

Brand
SAMSUNG         719
Apple           387
realme          327
OPPO            260
Nokia           213
Xiaomi          198
Infinix         151
GIONEE          129
vivo            124
Lenovo          121
ASUS            118
Motorola        105
LG               99
POCO             74
HTC              55
Google Pixel     29
IQOO              5
Name: count, dtype: int64

In [6]:
brand_perc=(brand_count/brand_count.sum())*100
brand_distribution=pandas.DataFrame({'Count':brand_count,'Percentage':brand_perc})
print(brand_distribution)

              Count  Percentage
Brand
SAMSUNG         719   23.089274
Apple           387   12.427746
realme          327   10.500963
OPPO            260    8.349390
Nokia           213    6.840077
Xiaomi          198    6.358382
Infinix         151    4.849069
GIONEE          129    4.142582
vivo            124    3.982017
Lenovo          121    3.885678
ASUS            118    3.789338
Motorola        105    3.371869
LG               99    3.179191
POCO             74    2.376365
HTC              55    1.766217
Google Pixel     29    0.931278
IQOO              5    0.160565

**Mobile sales on Color**

In [7]:
top_colors=df['Color'].value_counts().head()
print(top_colors)

Color
Black     489
Gold      195
White     154
Blue      146
Silver    104
Name: count, dtype: int64

**Best rated mobiles**

In [8]:
best_rated_mobiles=df[['Model','Brand','Rating']].sort_values(by='Rating',ascending=False).head(15)
print(best_rated_mobiles)

                   Model    Brand  Rating
2789             X60 Pro     vivo     5.0
2791               X50       vivo     5.0
2799                  S2     vivo     5.0
2021      SM-B310EZDDINS  SAMSUNG     5.0
1348      iPhone 7 Plus     Apple     5.0
1252      iPhone 7 Plus     Apple     5.0
2797                 Z1x     vivo     5.0
2771                Y33T     vivo     4.9
3061                9 5G   realme     4.8
3062                9 5G   realme     4.8
1356          iPhone XS     Apple     4.7
1192  iPhone 11 Pro Max     Apple     4.7
1313  iPhone 11 Pro Max     Apple     4.7
1363           iPhone 7     Apple     4.7
244                U11+       HTC     4.7

**Models offering high discounts**

In [9]:
df['Discount']=df['Original Price']-df['Selling Price']
print(df)

        Brand   Model            Color Memory Storage  Rating  Selling Price  \
0        OPPO     A53  Moonlight Black   4 GB   64 GB     4.5          11990
1        OPPO     A53       Mint Cream   4 GB   64 GB     4.5          11990
2        OPPO     A53  Moonlight Black   6 GB  128 GB     4.3          13990
3        OPPO     A53       Mint Cream   6 GB  128 GB     4.3          13990
4        OPPO     A53   Electric Black   4 GB   64 GB     4.5          11990
...       ...     ...              ...    ...     ...     ...            ...
3109  SAMSUNG  M52 5G    Blazing Black   6 GB  128 GB     4.3          25990
3110  SAMSUNG  M52 5G         Icy Blue   6 GB  128 GB     4.3          25489
3111  SAMSUNG  M52 5G         Icy Blue   8 GB  128 GB     4.3          27239
3112  SAMSUNG  M52 5G      Slate Black   8 GB  128 GB     4.2          22989
3113  SAMSUNG  M52 5G         Sky Blue   8 GB  128 GB     4.2          20350

      Original Price  Discount
0              15990      4000
1              15990      4000
2              17990      4000
3              17990      4000
4              15990      4000
...              ...       ...
3109           25990         0
3110           28449      2960
3111           31489      4250
3112           22989         0
3113           22595      2245

[3114 rows x 9 columns]

In [11]:
top_discounts=df[['Model','Brand','Original Price','Selling Price','Discount']].sort_values('Discount',ascending=False).head(10)
print(top_discounts)

               Model     Brand  Original Price  Selling Price  Discount
2346           Razr   Motorola          149999          74999     75000
2318           Razr   Motorola          149999          74999     75000
2316        Razr 5G   Motorola          149999          89999     60000
443             ROG       ASUS           83999          26499     57500
318            Wing         LG           80000          29999     50001
335            Wing         LG           80000          29999     50001
1455  iPhone XS Max      Apple          124900          78999     45901
1450  iPhone XS Max      Apple          124900          78999     45901
1461  iPhone XS Max      Apple          124900          78999     45901
305             G8X         LG           70000          27990     42010

**Lowest rated mobiles**

In [12]:
lowest_rated_mobiles=df[['Model','Brand','Rating']].sort_values('Rating').head(5)
print(lowest_rated_mobiles)

              Model     Brand  Rating
2619  Redmi Note 8     Xiaomi     2.3
2362    Quench X T3  Motorola     2.4
866             M7     GIONEE     2.7
885             M7     GIONEE     2.7
872            S11     GIONEE     2.8

In [20]:
comp=input('Enter brand : ')
mobiles=df[df['Brand']==comp]
print(mobiles[['Model','Rating','Original Price']].sort_values('Original Price',ascending=False).head(10))

Enter brand : Motorola
                Model  Rating  Original Price
2318            Razr      3.8          149999
2316         Razr 5G      4.0          149999
2346            Razr      3.8          149999
2345           Edge+      4.1           89999
2389         Z2 Force     4.1           44999
2320         Edge 20      4.4           34999
2311         Edge 20      4.4           34999
2359          Z2 Play     4.4           27999
2358          Z2 Play     4.4           27999
2305  Edge 20 Fusion      NaN           25999