In [1]:
import pandas

In [2]:
url="https://raw.githubusercontent.com/sohamglobal/datasets/refs/heads/main/HRARecords.csv"
df=pandas.read_csv(url)
print(df)

      Age Attrition     BusinessTravel  DailyRate              Department  \
0      28        No  Travel_Frequently        975         Human Resources
1      54        No      Travel_Rarely        605         Human Resources
2      19        No      Travel_Rarely       1317                 Support
3      40       Yes  Travel_Frequently       1305                   Sales
4      54        No      Travel_Rarely        528                Hardware
...   ...       ...                ...        ...                     ...
9995   20        No  Travel_Frequently       1091                Hardware
9996   44        No         Non-Travel       1249  Research & Development
9997   20       Yes         Non-Travel       1490                Hardware
9998   19        No         Non-Travel       1171                Software
9999   26       Yes  Travel_Frequently       1428                Software

      DistanceFromHome  Education    EducationField  EmployeeCount  \
0                   37          3     Life Sciences              1
1                   40          4     Life Sciences              1
2                   26          2           Medical              1
3                   42          5     Life Sciences              1
4                   43          3   Human Resources              1
...                ...        ...               ...            ...
9995                19          4   Human Resources              1
9996                 8          4  Technical Degree              1
9997                34          3         Marketing              1
9998                46          3           Medical              1
9999                13          2   Human Resources              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                 15  ...                         4            80
1                 52  ...                         4            80
2                 70  ...                         3            80
3                 71  ...                         2            80
4                 78  ...                         3            80
...              ...  ...                       ...           ...
9995            9890  ...                         3            80
9996            9938  ...                         2            80
9997            9947  ...                         1            80
9998            9956  ...                         1            80
9999            9989  ...                         3            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    2                 31                      6
1                    4                 34                      5
2                    2                 13                      5
3                    4                 15                      4
4                    2                 19                      1
...                ...                ...                    ...
9995                 4                 22                      6
9996                 3                 36                      2
9997                 3                 27                      1
9998                 3                 35                      1
9999                 4                  1                      6

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  4              29                  6
1                  1              30                  3
2                  2               1                  1
3                  4               7                  4
4                  4               9                  8
...              ...             ...                ...
9995               4              21                 15
9996               4              16                  5
9997               1              11                  3
9998               3              15                  6
9999               1               1                  1

      YearsSinceLastPromotion  YearsWithCurrManager
0                           5                     8
1                          28                    22
2                           1                     1
3                           3                     4
4                           8                     4
...                       ...                   ...
9995                       10                     5
9996                       14                     1
9997                        5                     2
9998                        3                     8
9999                        1                     1

[10000 rows x 35 columns]

remove unwanted columns

In [5]:
avgage=df['Age'].mean()
print('Employee average age is %d years' %avgage)

Employee average age is 39 years

In [6]:
avgdist=df['DistanceFromHome'].mean()
maxdist=df['DistanceFromHome'].max()
print('average distance %d and highest distance is %d' %(avgdist,maxdist))

average distance 25 and highest distance is 50

In [7]:
highdist=df[['Age','WorkLifeBalance','DistanceFromHome']].sort_values('DistanceFromHome',ascending=False).head(10)
print(highdist)

      Age  WorkLifeBalance  DistanceFromHome
6117   28                1                50
1841   30                4                50
9933   38                3                50
6156   59                3                50
1718   49                4                50
1973   28                3                50
1954   45                1                50
1856   52                1                50
1844   33                4                50
752    40                3                50

In [9]:
travel=df['BusinessTravel'].value_counts()
print(travel)

BusinessTravel
Travel_Rarely        3370
Non-Travel           3343
Travel_Frequently    3287
Name: count, dtype: int64

In [10]:
dep=df['Department'].value_counts().head(5)
print(dep)

Department
Support                   1721
Hardware                  1692
Research & Development    1681
Software                  1665
Human Resources           1621
Name: count, dtype: int64

In [11]:
promo=df['YearsSinceLastPromotion'].sort_values(ascending=False).value_counts()
print(promo)

YearsSinceLastPromotion
1     2499
2     1399
3      997
4      806
5      619
6      496
7      441
8      362
9      342
10     264
11     258
12     203
13     184
14     161
15     137
16     104
17     103
18      89
19      87
20      76
22      52
21      49
23      40
26      38
28      33
24      32
27      30
25      25
29      19
30      17
31      12
32       8
34       7
36       3
33       3
37       2
35       2
38       1
Name: count, dtype: int64

In [12]:
gen=df['Gender'].value_counts()
print(gen)

Gender
Male      5107
Female    4893
Name: count, dtype: int64

In [13]:
att=df['Attrition'].value_counts()
print(att)

Attrition
No     5127
Yes    4873
Name: count, dtype: int64

In [14]:
stat=df['MaritalStatus'].value_counts()
print(stat)

MaritalStatus
Divorced    3435
Single      3296
Married     3269
Name: count, dtype: int64