Creating reusable functions in python

In [3]:
# create a function that accepts a number and displays square
def calcsqr(n):
  sq=n*n
  print(f'square of {n} is {sq}')

In [5]:
#program/code that will use the function
n=int(input('Enter a number : '))
calcsqr(n)

Enter a number : 75
square of 75 is 5625

In [6]:
#create a function that receives two numbers and display the sum
def calcsum(a,b):
  c=a+b
  print(f'sum of {a} and {b} is {c}')

In [7]:
calcsum(23,56)

sum of 23 and 56 is 79

In [8]:
calcsum(16.25,47.81)

sum of 16.25 and 47.81 is 64.06

In [9]:
calcsum('soham','global')

sum of soham and global is sohamglobal

In [10]:
calcsum(['java','python','sql'],['praffull','sharayu'])

sum of ['java', 'python', 'sql'] and ['praffull', 'sharayu'] is ['java', 'python', 'sql', 'praffull', 'sharayu']

In [13]:
#create a function that receives amount and displays discount
def calcdiscount(amount):
  if amount>20000:
    discount=amount*13/100
  else:
    discount=amount*9/100
  print(f'Amount :{amount} \nDiscount : {discount}')

In [15]:
calcdiscount(12450)
calcdiscount(21570)

Amount :12450
Discount : 1120.5
Amount :21570
Discount : 2804.1

In [17]:
#function with a return value
def findresult(marks):
  if marks>=35:
    res="Pass"
  else:
    res="Fail"
  return res

In [21]:
r=findresult(63)
print(r)

Pass

In [24]:
def welcome():
  print('welcome to python programming')
  print('-'*35)

In [25]:
welcome()

welcome to python programming
-----------------------------------