find common values in the 2 lists

In [ ]:
lst1=[4,9,3,7,12]
lst2=[15,5,10,3,9]

common=[x for x in lst1 if x in lst2]
print(common)

[9, 3]

In [3]:
pfl=['java','spring','jpa','sql','azure']
syu=['python','sql','pandas','openai','analytics','java','ml','spring']
common=[x for x in pfl if x not in syu]
print(common)

['jpa', 'azure']

In [4]:
#dont use this logic in python
n=[9,13,26,1,45,23,56,62,39,17,55,89]
odd=[]

for val in n:
  if val%2==1:
    odd.append(val)

print(odd)

[9, 13, 1, 45, 23, 39, 17, 55, 89]

In [6]:
n=[9,13,26,1,45,23,56,62,39,17,55,89]
odd=[x for x in n if x%2==1]
print(odd)

[9, 13, 1, 45, 23, 39, 17, 55, 89]

In [7]:
n=[9,13,26,1,45,23,56,62,39,17,55,89]
even=[x for x in n if x%2==0]
print(even)

[26, 56, 62]

In [8]:
n=[9,13,-26,1,-45,23,56,62,39,-17,55,-89]
pos=[x for x in n if x>0]
print(pos)

[9, 13, 1, 23, 56, 62, 39, 55]

In [9]:
n=[9,13,26,1,45,23,56,62,39,17,55,89]
nine=[x for x in n if x%9==0]
print(nine)

[9, 45]

In [12]:
lst=[9,13,26,1,9,45,26,15,74,11,13]
unique=[]

[unique.append(item) for item in lst if item not in unique]
print(unique)

[9, 13, 26, 1, 45, 15, 74, 11]

In [16]:
lst=[9,13,26,1,9,45,26,15,74,11,13]
sq=[x**2 for x in lst]
print(sq)

[81, 169, 676, 1, 81, 2025, 676, 225, 5476, 121, 169]