**Set Operations - union, intersection, difference and symmetric difference**

In [1]:
s1={'microsoft','google','volkswagen','bmw','oracle','barclays','vmware','nvidia','apple'}
s2={'bentley','apple','toyota','volkswagen','audi','skoda','microsoft','samsung'}

In [2]:
print(s1)
print(s2)

{'bmw', 'microsoft', 'vmware', 'apple', 'volkswagen', 'nvidia', 'google', 'barclays', 'oracle'}
{'skoda', 'samsung', 'microsoft', 'apple', 'bentley', 'toyota', 'volkswagen', 'audi'}

UNION - combine values of both the sets

In [3]:
res=s1.union(s2)
print(res)

{'skoda', 'bmw', 'samsung', 'microsoft', 'vmware', 'apple', 'bentley', 'toyota', 'audi', 'volkswagen', 'nvidia', 'google', 'barclays', 'oracle'}

INTERSECTION - common values from both the sets

In [4]:
res=s1.intersection(s2)
print(res)

{'microsoft', 'volkswagen', 'apple'}

DIFFERENCE - values in first set but not present in second

In [5]:
res=s1.difference(s2)
print(res)

{'bmw', 'vmware', 'nvidia', 'google', 'barclays', 'oracle'}

SYMMETRIC DIFFERENCE - all values from both sets except the common

In [6]:
res=s1.symmetric_difference(s2)
print(res)

{'skoda', 'oracle', 'samsung', 'bmw', 'vmware', 'bentley', 'toyota', 'nvidia', 'google', 'barclays', 'audi'}

**Set Operations on List/Tuples**

In [7]:
cricket=['england','india','pakistan','australia','netherlands','south africa']
football=['spain','germany','england','brazil','italy','netherlands','argentina']

In [10]:
#countries which play cricket and football both
res=list(set(cricket).intersection(football))
print(res)

['netherlands', 'england']

In [11]:
#countries which play only cricket
res=set(cricket).difference(football)
print(res)

{'india', 'south africa', 'australia', 'pakistan'}

In [12]:
#pure football playing countries
res=set(football).difference(cricket)
print(res)

{'brazil', 'argentina', 'italy', 'spain', 'germany'}

In [14]:
res=list(set(cricket).symmetric_difference(football))
print(res)

['india', 'italy', 'south africa', 'australia', 'spain', 'argentina', 'pakistan', 'brazil', 'germany']

**SubSet and SuperSet**

In [15]:
x={1,2,3}
y={1,2,3,4,5}

In [16]:
print(x)
print(y)

{1, 2, 3}
{1, 2, 3, 4, 5}

In [17]:
print(x.issubset(y))

True

In [18]:
print(y.issubset(x))

False

In [19]:
print(y.issuperset(x))

True

In [22]:
p={1,2,3}
q={4,3,6}

In [23]:
print(p.isdisjoint(q))

False