In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.4 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
import pymysql

In [3]:
con=pymysql.connect(host='mysql-ethan-python-mysql.h.aivencloud.com',port=10413,user='praffull',password='AVNS_owESNvPFD5fnVDwuWUq',database='sharayudb')
print('python connected to cloud mysql database successfully')

python connected to cloud mysql database successfully

In [4]:
curs=con.cursor()
curs.execute("select * from customers")
data=curs.fetchall()
print(data)

((1, 'Joe Root', 'london', 'sk181', 'netbanking'), (2, 'Boris Becker', 'berlin', 'ho162', 'cash'), (3, 'Michael Schumacher', 'berlin', 'bm201', 'credit card'), (4, 'Arnold Schwarzenegger', 'los angles', 'to191', 'credit card'), (5, 'Jos Buttler', 'manchester', 'vw173', 'credit card'), (6, 'Rebecca Ferguson', 'new york', 'bm185', 'netbanking'), (7, 'Steffi Graf', 'stuttgart', 'vw171', 'debit card'), (8, 'Keanu Reeves', 'tokyo', 'to191', 'credit card'), (9, 'Sabastian Vettel', 'heppenheim', 'sk183', 'credit card'), (10, 'Tom Cruise', 'chicago', 'bm201', 'cash'), (11, 'Roger Federer', 'amsterdam', 'ho161', 'credit card'), (12, 'Emily Blunt', 'london', 'vw172', 'credit card'), (13, 'Shah Rukh Khan', 'new delhi', 'tt153', 'debit card'), (14, 'A R Rahman', 'chennai', 'hd142', 'cash'), (15, 'Tabu', 'hyderabad', 'vw173', 'debit card'), (16, 'Shabana Azmi', 'mumbai', 'ss210', 'debit card'), (17, 'Rekha', 'chennai', 'hd141', 'cash'), (18, 'Amitabh Bachchan', 'allahabad', 'cs682', 'cash'), (19, 'Imran Khan', 'lahore', 'to191', 'netbanking'), (20, 'Dipika Singh', 'mumbai', 'to193', 'netbanking'), (21, 'Alia Bhat', 'lucknow', 'hd142', 'cash'), (22, 'Serena Williams', 'new york', 'ss210', 'netbanking'), (23, 'Max Verstappen', 'berlin', 'rb739', 'cash'), (24, 'Charles Leclerc', 'monte carlo', 'fr133', 'debit card'), (25, 'Sylvester Stallone', 'Kolkata', 'ms134', 'cash'), (26, 'Emily Blunt', 'Agra', 'ms131', 'netbanking'))

In [7]:
curs.execute("select * from cars")
data=curs.fetchone()
print(data)

('bm201', 'XM', 'BMW', 12500000.0)

In [18]:
data=curs.fetchone()
print(data)

('ms134', 'Baleno', 'Maruti Suzuki', 642000.0)