In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 879.7 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
import pymysql

In [3]:
con=pymysql.connect(host='mysql-ethan-python-mysql.h.aivencloud.com',port=10413,user='praffull',password='AVNS_owESNvPFD5fnVDwuWUq',database='sharayudb')
print('python connected to cloud mysql database successfully')

python connected to cloud mysql database successfully

In [4]:
curs=con.cursor()

In [10]:
brand=input('Enter car company to search models : ')
curs.execute(f"select * from cars where company='{brand}'")
data=curs.fetchall()
print(data)

Enter car company to search models : volvo
()

In [11]:
typ=input('Enter account type : ')
curs.execute(f"select * from accounts where acctype='{typ}'")
data=curs.fetchall()
print(data)

Enter account type : ppf
((1024, 'sam curran', 'ppf', 63558.0), (1030, 'sadio mane', 'ppf', 45889.0), (1040, 'adil rashid', 'ppf', 39870.0), (1043, 'chris woakes', 'ppf', 50000.0), (1047, 'joe root', 'ppf', 121500.0), (1051, 'lando norris', 'ppf', 75000.0))

In [12]:
con.close()