In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.5 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
import pymysql

In [3]:
con=pymysql.connect(host='mysql-ethan-python-mysql.h.aivencloud.com',port=10413,user='praffull',password='AVNS_owESNvPFD5fnVDwuWUq',database='sharayudb')
print('python connected to cloud mysql database successfully')

python connected to cloud mysql database successfully

In [4]:
curs=con.cursor()

In [5]:
brand=input('Enter car company to search models : ')
curs.execute(f"select * from cars where company='{brand}'")
data=curs.fetchall()
print(data)

Enter car company to search models : skoda
(('sk181', 'Kushaq', 'Skoda', 1158000.0), ('sk182', 'Superb', 'Skoda', 3416000.0), ('sk183', 'Kodiaq', 'Skoda', 3749000.0))

In [6]:
typ=input('Enter account type : ')
curs.execute(f"select * from accounts where acctype='{typ}'")
data=curs.fetchall()
print(data)

Enter account type : fixed
((992, 'sharayu', 'fixed', 210518.0), (1002, 'maria sharapova', 'fixed', 23100.0), (1006, 'gabriel jesus', 'fixed', 37100.0), (1010, 'steve smith', 'fixed', 61150.0), (1013, 'antoine griezman', 'fixed', 37640.0), (1017, 'thibaut courtois', 'fixed', 97550.0), (1020, 'ngolo kante', 'fixed', 55871.0), (1028, 'mark wood', 'fixed', 75442.0), (1031, 'roberto firmino', 'fixed', 96321.0), (1034, 'raheem sterling', 'fixed', 62994.0), (1036, 'carlos sainz', 'fixed', 96637.0))

In [16]:
no=int(input('enter account number : '))
curs.execute(f"select accnm,balance from accounts where accno={no}")
data=curs.fetchone()
if data:
  print(data)
else:
  print('account does not exist')

enter account number : 1055
account does not exist

In [17]:
con.close()