In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
import pymysql

In [3]:
con=pymysql.connect(host='mysql-ethan-python-mysql.h.aivencloud.com',port=10413,user='praffull',password='AVNS_owESNvPFD5fnVDwuWUq',database='sharayudb')
print('python connected to cloud mysql database successfully')

python connected to cloud mysql database successfully

In [4]:
curs=con.cursor()

In [5]:
uid=input('Enter userID : ')
ps=input('Enter password : ')
nm=input('Enter name : ')

curs.execute(f"insert into users values('{uid}','{ps}','{nm}')")
con.commit()
print('new user inserted successfully')

Enter userID : ben
Enter password : python
Enter name : ben stokes
new user inserted successfully

In [7]:
no=int(input('Enter employee number : '))
nm=input('Enter name : ')
dp=input('Enter department : ')
po=input('Enter post : ')
lo=input('Enter location : ')
sl=float(input('Enter salary : '))

curs.execute(f"insert into employees values({no},'{nm}','{dp}','{po}','{lo}',{sl})")
#curs.execute("insert into employees values(%d,'%s','%s','%s','%s',%.2f)" %(no,nm,dp,po,lo,sl))
con.commit()
print('new employee added to the database')

Enter employee number : 217
Enter name : lando norris
Enter department : finance
Enter post : auditor
Enter location : berlin
Enter salary : 72180
new employee added to the database

In [8]:
no=int(input('Enter account number : '))
nm=input('Enter name : ')
ty=input('Enter type : ')
bl=float(input('Enter balance : '))
curs.execute(f"insert into accounts values({no},'{nm}','{ty}',{bl})")
con.commit()
print('new account opened...')

Enter account number : 1053
Enter name : Ajinkya Kulkarni
Enter type : saving
Enter balance : 65100
new account opened...