In [ ]:
rollno=786
name='praffull'
marks=437

#print(f'Name {name} with roll number {rollno} has scored {marks} marks')
print('Name %s with roll number %d has scored %d marks' %(name,rollno,marks))

Name praffull with roll number 786 has scored 437 marks

In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
import pymysql

In [3]:
con=pymysql.connect(host='mysql-ethan-python-mysql.h.aivencloud.com',port=10413,user='praffull',password='AVNS_owESNvPFD5fnVDwuWUq',database='sharayudb')
print('python connected to cloud mysql database successfully')

python connected to cloud mysql database successfully

In [4]:
curs=con.cursor()

In [ ]:
no=int(input('Enter employee number : '))
newloc=input('Enter new location : ')

curs.execute(f"update employees set location='{newloc}' where empno={no}")
con.commit()
print('employee location changed')

Enter employee number : 216
Enter new location : tokyo
employee location changed

In [ ]:
no=int(input('Enter employee number : '))
newsal=float(input('Enter new salary : '))

curs.execute(f"update employees set salary={newsal} where empno={no}")
con.commit()
print('employee salary changed')

Enter employee number : 217
Enter new salary : 75000
employee salary changed

In [7]:
no=int(input('Enter account number : '))
amt=float(input('Enter deposit amount : '))
cnt=curs.execute(f"update accounts set balance=balance+{amt} where accno={no}")
con.commit()
print(cnt)
if cnt==1:
  print('deposit done')
else:
  print('account does not exist')

Enter account number : 1088
Enter deposit amount : 2500
0
account does not exist

In [13]:
no=int(input('Enter account number : '))
amt=float(input('Enter withdraw amount : '))

try:
  cnt=curs.execute(f"update accounts set balance=balance-{amt} where accno={no}")
  con.commit()
  print(cnt)
  if cnt==1:
    print('Withdraw done')
  else:
    print('account does not exist')
except:
  print('cant withdraw...insufficient funds')

Enter account number : 1003
Enter withdraw amount : 20000
cant withdraw...insufficient funds

In [16]:
uid=input('Enter UserID : ')
currpass=input('Enter current password : ')
newpass=input('Enter new password : ')

cnt=curs.execute(f"update users set password='{newpass}' where userid='{uid}' and password='{currpass}'")
con.commit()

if cnt==1:
  print('password changed successfully')
else:
  print('authentication failed')

Enter UserID : buttler
Enter current password : sdklfj
Enter new password : praffull
authentication failed

In [ ]:
con.close()