In [3]:
rollno=786
name='praffull'
marks=437

#print(f'Name {name} with roll number {rollno} has scored {marks} marks')
print('Name %s with roll number %d has scored %d marks' %(name,rollno,marks))

Name praffull with roll number 786 has scored 437 marks

In [4]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.6 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [5]:
import pymysql

In [6]:
con=pymysql.connect(host='mysql-ethan-python-mysql.h.aivencloud.com',port=10413,user='praffull',password='AVNS_owESNvPFD5fnVDwuWUq',database='sharayudb')
print('python connected to cloud mysql database successfully')

python connected to cloud mysql database successfully

In [8]:
curs=con.cursor()

In [10]:
no=int(input('Enter employee number : '))
newloc=input('Enter new location : ')

curs.execute(f"update employees set location='{newloc}' where empno={no}")
con.commit()
print('employee location changed')

Enter employee number : 216
Enter new location : tokyo
employee location changed

In [11]:
no=int(input('Enter employee number : '))
newsal=float(input('Enter new salary : '))

curs.execute(f"update employees set salary={newsal} where empno={no}")
con.commit()
print('employee salary changed')

Enter employee number : 217
Enter new salary : 75000
employee salary changed

In [14]:
no=int(input('Enter account number : '))
amt=float(input('Enter deposit amount : '))
cnt=curs.execute(f"update accounts set balance=balance+{amt} where accno={no}")
con.commit()
print(cnt)
print('deposit done')

Enter account number : 1099
Enter deposit amount : 5000
0
deposit done

In [15]:
con.close()