In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
import pymysql

In [3]:
con=pymysql.connect(host='mysql-ethan-python-mysql.h.aivencloud.com',port=10413,user='praffull',password='AVNS_owESNvPFD5fnVDwuWUq',database='sharayudb')
print('python connected to cloud mysql database successfully')

python connected to cloud mysql database successfully

In [4]:
curs=con.cursor()

In [5]:
curs.execute("select customers.custnm,cars.modelnm,cars.company,cars.price from customers inner join cars on customers.carid=cars.carid;")
data=curs.fetchall();
print(data)

(('Joe Root', 'Kushaq', 'Skoda', 1158000.0), ('Boris Becker', 'Amaze', 'Honda', 665000.0), ('Michael Schumacher', 'XM', 'BMW', 12500000.0), ('Arnold Schwarzenegger', 'Fortuner', 'Toyota', 3258000.0), ('Jos Buttler', 'Tiguan', 'Volkswagen', 3375000.0), ('Steffi Graf', 'Virtus', 'Volkswagen', 1132000.0), ('Keanu Reeves', 'Fortuner', 'Toyota', 3258000.0), ('Sabastian Vettel', 'Kodiaq', 'Skoda', 3749000.0), ('Tom Cruise', 'XM', 'BMW', 12500000.0), ('Roger Federer', 'City', 'Honda', 950000.0), ('Emily Blunt', 'Taigun', 'Volkswagen', 1256000.0), ('Shah Rukh Khan', 'Safari', 'Tata', 1545000.0), ('A R Rahman', 'Creta', 'Hyundai', 1044000.0), ('Tabu', 'Tiguan', 'Volkswagen', 3375000.0), ('Rekha', 'Venue', 'Hyundai', 753000.0), ('Imran Khan', 'Fortuner', 'Toyota', 3258000.0), ('Dipika Singh', 'Innova', 'Toyota', 1809000.0), ('Alia Bhat', 'Creta', 'Hyundai', 1044000.0), ('Sylvester Stallone', 'Baleno', 'Maruti Suzuki', 642000.0), ('Emily Blunt', 'Swift', 'Maruti Suzuki', 591000.0))

In [6]:
con.close()