In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.4 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
import pymysql

In [3]:
con=pymysql.connect(host='mysql-ethan-python-mysql.h.aivencloud.com',port=10413,user='praffull',password='AVNS_owESNvPFD5fnVDwuWUq',database='sharayudb')
print('python connected to cloud mysql database successfully')

python connected to cloud mysql database successfully

In [4]:
curs=con.cursor()

# Insert new Film

In [6]:
nm=input('Enter film name : ')
yr=int(input('Enter release year : '))
ln=input('Enter langauge : ')
gn=input('Enter genre : ')
rt=float(input('Enter IMDBRating : '))

curs.execute(f"insert into films(film_name,release_year,language,genre,imdb_rating) values('{nm}',{yr},'{ln}','{gn}',{rt})")
con.commit()
print('new film added to the table')

Enter film name : the matrix
Enter release year : 1999
Enter langauge : english
Enter genre : action
Enter IMDBRating : 9.2
new film added to the table

# SELECT

In [7]:
curs.execute("select * from films")
data=curs.fetchall()
print(data)

((1, 'pk', 2014, 'hindi', 'comedy', 8.7), (2, 'the matrix', 1999, 'english', 'action', 9.2))

# Update data

In [9]:
no=int(input('Enter film number : '))
rt=float(input('Enter new IMDBRating : '))
curs.execute(f"update films set imdb_rating={rt} where filmno={no}")
con.commit()
print('film rating modified successfully')

Enter film number : 1
Enter new IMDBRating : 8.1
film rating modified successfully

# Delete film

In [11]:
no=int(input('Enter film number : '))
cnt=curs.execute(f"delete from films where filmno={no}")
con.commit()
if cnt==1:
  print('film deleted')
else:
  print('film not found')

Enter film number : 2
film deleted

In [12]:
con.close()