In [ ]:
import numpy
import pandas

In [ ]:
lst=['java','python','sql',9,'microsoft','volkswagen',26.13]

In [ ]:
arr=numpy.array(lst)
print(arr)

['java' 'python' 'sql' '9' 'microsoft' 'volkswagen' '26.13']

In [ ]:
ser=pandas.Series(lst)
print(ser)

0          java
1        python
2           sql
3             9
4     microsoft
5    volkswagen
6         26.13
dtype: object

In [ ]:
print(ser[4])

microsoft

In [ ]:
ser=pandas.Series(arr)
print(ser)

0          java
1        python
2           sql
3             9
4     microsoft
5    volkswagen
6         26.13
dtype: object