In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.4 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
import pymysql
import pandas

In [3]:
con=pymysql.connect(host='mysql-ethan-python-mysql.h.aivencloud.com',port=10413,user='praffull',password='AVNS_owESNvPFD5fnVDwuWUq',database='sharayudb')
print('python connected to cloud mysql database successfully')

python connected to cloud mysql database successfully

In [4]:
df=pandas.read_sql("select * from employees",con)
print(df)

<ipython-input-4-6c92d71df3fc>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pandas.read_sql("select * from employees",con)

   empno            empnm         dept              post location   salary
0    214   mohammed salah    marketing         executive   london  51200.0
1    215  charles leclerc        sales           manager   monaco  71450.0
2    216   lewis hamilton  development  django developer    tokyo  47650.0
3    217     lando norris      finance           auditor   berlin  75000.0

In [5]:
df=pandas.read_sql("select * from accounts where balance<50000",con)
print(df)

<ipython-input-5-ff9e6be5bb4b>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pandas.read_sql("select * from accounts where balance<50000",con)

    accno                accnm  acctype  balance
0    1001      charles leclerc   saving  45000.0
1    1002      maria sharapova    fixed  23100.0
2    1003     mitchell johnson  current  15300.0
3    1004          edan hazard   saving  41300.0
4    1005   robert lewandowski   saving  21600.0
5    1006        gabriel jesus    fixed  37100.0
6    1008        marcos alonso   saving  33900.0
7    1009           david luiz  current  28400.0
8    1012          zaheer khan   saving  22570.0
9    1013     antoine griezman    fixed  37640.0
10   1016         garry cahill  current  39550.0
11   1023             moin ali  current  26551.0
12   1030           sadio mane      ppf  45889.0
13   1033  alexandre lacazette   saving  36227.0
14   1040          adil rashid      ppf  39870.0
15   1044           alex hales   saving  38540.0
16   1052       max verstappen   saving  35200.0

In [6]:
df=pandas.read_sql("select * from customers",con)
print(df)

    custno                 custnm         city  carid      paymode
0        1               Joe Root       london  sk181   netbanking
1        2           Boris Becker       berlin  ho162         cash
2        3     Michael Schumacher       berlin  bm201  credit card
3        4  Arnold Schwarzenegger   los angles  to191  credit card
4        5            Jos Buttler   manchester  vw173  credit card
5        6       Rebecca Ferguson     new york  bm185   netbanking
6        7            Steffi Graf    stuttgart  vw171   debit card
7        8           Keanu Reeves        tokyo  to191  credit card
8        9       Sabastian Vettel   heppenheim  sk183  credit card
9       10             Tom Cruise      chicago  bm201         cash
10      11          Roger Federer    amsterdam  ho161  credit card
11      12            Emily Blunt       london  vw172  credit card
12      13         Shah Rukh Khan    new delhi  tt153   debit card
13      14             A R Rahman      chennai  hd142         cash
14      15                   Tabu    hyderabad  vw173   debit card
15      16           Shabana Azmi       mumbai  ss210   debit card
16      17                  Rekha      chennai  hd141         cash
17      18       Amitabh Bachchan    allahabad  cs682         cash
18      19             Imran Khan       lahore  to191   netbanking
19      20           Dipika Singh       mumbai  to193   netbanking
20      21              Alia Bhat      lucknow  hd142         cash
21      22        Serena Williams     new york  ss210   netbanking
22      23         Max Verstappen       berlin  rb739         cash
23      24        Charles Leclerc  monte carlo  fr133   debit card
24      25     Sylvester Stallone      Kolkata  ms134         cash
25      26            Emily Blunt         Agra  ms131   netbanking

<ipython-input-6-bec785368d9a>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pandas.read_sql("select * from customers",con)

In [7]:
con.close()