In [1]:
import pandas

In [2]:
url="http://sohamspring.azurewebsites.net/api/players/all"

In [3]:
df=pandas.read_json(url)
print(df)

     playerno          playernm    position  country         club
0         913       Will Dennis  Goalkeeper  England  Bournemouth
1         914      Mark Travers  Goalkeeper  Ireland  Bournemouth
2         915       Lloyd Kelly    Defender  England  Bournemouth
3         916      Chris Mepham    Defender    Wales  Bournemouth
4         917        Adam Smith    Defender  England  Bournemouth
..        ...               ...         ...      ...          ...
446      1360       Diego Costa     Forward    Spain       Wolves
447      1361     Chem Campbell  Midfielder    Wales       Wolves
448      1362  Harvey Griffiths  Midfielder  England       Wolves
449      1363     Nathan Fraser     Forward  Ireland       Wolves
450      1364  Dexter Lembikisa    Defender  Jamaica       Wolves

[451 rows x 5 columns]

In [5]:
url="http://sohamspring.azurewebsites.net/api/accounts/type/current"

In [6]:
df=pandas.read_json(url)
print(df)

    accno                    accnm  acctype  balance
0    1003         mitchell johnson  current    15300
1    1009               david luiz  current    28400
2    1016             garry cahill  current    39550
3    1018        cesar azpilicueta  current    82716
4    1019            cesc fabregas  current    82716
5    1021           james anderson  current    63228
6    1023                 moin ali  current    26551
7    1027         liam livingstone  current    49668
8    1032  alex oxlade chamberlain  current    58449
9    1035               harry kane  current    78751
10   1038               bill gates  current    93119

In [9]:
url="http://sohamspring.azurewebsites.net/api/products/search/volkswagen"

In [10]:
df=pandas.read_json(url)
print(df)

  prodid  prodnm     company    price
0  vw171  Virtus  Volkswagen  1132000
1  vw172  Taigun  Volkswagen  1256000
2  vw173  Tiguan  Volkswagen  3375000