In [1]:
import numpy
import pandas

In [2]:
df=pandas.DataFrame(numpy.random.rand(10,4),columns=['mumbai','hyderabad','london','dubai'])

In [3]:
print(df)

     mumbai  hyderabad    london     dubai
0  0.582602   0.712550  0.798355  0.900176
1  0.186963   0.213504  0.828911  0.616665
2  0.727055   0.553643  0.979103  0.627230
3  0.208334   0.190805  0.974602  0.081670
4  0.421047   0.039458  0.615947  0.730360
5  0.116536   0.640319  0.326723  0.505475
6  0.787717   0.699169  0.424428  0.836685
7  0.078521   0.799121  0.072493  0.418747
8  0.734589   0.774665  0.489227  0.195409
9  0.198311   0.110538  0.514326  0.092486