In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.13.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.13.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 18.0 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 13.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.13.0

In [2]:
from pymongo import MongoClient

In [3]:
client=MongoClient("mongodb+srv://sharayu:mongodb913@praffullcluster.jfybhkc.mongodb.net/?retryWrites=true&w=majority&appName=praffullcluster")
print('Python program connected to MongoDB successfully')

Python program connected to MongoDB successfully

In [4]:
db=client["spiderdb"]

In [5]:
coll=db["films"]

In [6]:
data=list(coll.find())
print(data)

[{'_id': '151', 'filmnm': 'sholay', 'category': 'action', 'releaseyr': 1975, 'written': 'salim javed', 'director': 'ramesh sippy', 'actor': 'amitabh bachchan', 'actress': 'jaya bhaduri', 'music': 'r d burman', 'villain': 'amjad khan', 'budgetmn': 30, 'collectionmn': 410}, {'_id': '152', 'filmnm': 'pk', 'category': 'comedy', 'releaseyr': 2014, 'director': 'rajkumar hirani', 'actor': 'amir khan', 'actress': 'anushka sharma', 'budgetmn': 850, 'collectionmn': 8540}, {'_id': '153', 'filmnm': 'the matrix', 'category': 'action', 'releaseyr': 1999, 'director': 'wachowski bros', 'actor': 'keanu reeves', 'actress': 'carrie-anne moss', 'budgetmn': 4725, 'collectionmn': 34950}, {'_id': '154', 'filmnm': 'mughal e azam', 'category': 'romance', 'releaseyr': 1960, 'director': 'k asif', 'actor': 'dilip kumar', 'actress': 'madhubala', 'music': 'naushad', 'budgetmn': 15, 'collectionmn': 110}, {'_id': '155', 'filmnm': 'mi5 rogue nation', 'category': 'action', 'releaseyr': 2015, 'director': 'christopher mcquarrie', 'actor': 'tom cruise', 'actress': 'rebeccca ferguson', 'budgetmn': 11250, 'collectionmn': 51225}, {'_id': '156', 'filmnm': 'maya', 'category': 'romance', 'releaseyr': 1961, 'actor': 'dev anand', 'actress': 'mala sinha', 'music': 'salil choudhari'}, {'_id': '157', 'filmnm': '1942 a love story', 'category': 'romance', 'releaseyr': 1994, 'director': 'vidhu vinod chopra', 'actor': 'anil kapoor', 'actress': 'manisha koirala', 'music': 'r d burman', 'budgetmn': 257, 'collectionmn': 896}, {'_id': '158', 'filmnm': 'chalti ka naam gaadi', 'category': 'comedy', 'releaseyr': 1958, 'director': 'satyen bose', 'actor': 'koshore kumar', 'actress': 'madhubala', 'music': 's d burman', 'villain': 'k n singh'}, {'_id': '159', 'filmnm': 'golmaal 3', 'category': 'comedy', 'releaseyr': 2010, 'director': 'rohit shetty', 'actor': 'ajay devgan', 'actress': 'kareena kapoor khan', 'comedian': 'johny lever', 'budgetmn': 350, 'collectionmn': 1692}, {'_id': '160', 'filmnm': 'bhoot', 'category': 'horror', 'releaseyr': 2003, 'director': 'ram gopal verma', 'actress': 'urmila matondkar', 'music': 'salim sulaiman'}, {'_id': '161', 'filmnm': 'silsila', 'category': 'romance', 'releaseyr': 1981, 'director': 'yash chopra', 'actor': 'amitabh bachchan', 'actress': 'rekha', 'music': 'shiv hari'}, {'_id': '162', 'filmnm': 'swades', 'category': 'drama', 'releaseyr': 2004, 'director': 'ashutosh gowarikar', 'actor': 'shah rukh khan', 'music': 'a r rahman', 'budgetmn': 250, 'collectionmn': 380}, {'_id': '163', 'filmnm': '1917', 'category': 'war', 'releaseyr': 2019, 'director': 'sam mendes', 'actor': 'george mackay', 'cinematography': 'roger deakins', 'budgetmn': 7125, 'collectionmn': 28875}, {'_id': '164', 'filmnm': 'dil se', 'category': 'romance', 'releaseyr': 1998, 'actor': 'srk'}]

In [7]:
import pandas

In [8]:
df=pandas.DataFrame(data)
print(df)

    _id                filmnm category  releaseyr      written  \
0   151                sholay   action       1975  salim javed
1   152                    pk   comedy       2014          NaN
2   153            the matrix   action       1999          NaN
3   154         mughal e azam  romance       1960          NaN
4   155      mi5 rogue nation   action       2015          NaN
5   156                  maya  romance       1961          NaN
6   157     1942 a love story  romance       1994          NaN
7   158  chalti ka naam gaadi   comedy       1958          NaN
8   159             golmaal 3   comedy       2010          NaN
9   160                 bhoot   horror       2003          NaN
10  161               silsila  romance       1981          NaN
11  162                swades    drama       2004          NaN
12  163                  1917      war       2019          NaN
13  164                dil se  romance       1998          NaN

                 director             actor              actress  \
0            ramesh sippy  amitabh bachchan         jaya bhaduri
1         rajkumar hirani         amir khan       anushka sharma
2          wachowski bros      keanu reeves     carrie-anne moss
3                  k asif       dilip kumar            madhubala
4   christopher mcquarrie        tom cruise    rebeccca ferguson
5                     NaN         dev anand           mala sinha
6      vidhu vinod chopra       anil kapoor      manisha koirala
7             satyen bose     koshore kumar            madhubala
8            rohit shetty       ajay devgan  kareena kapoor khan
9         ram gopal verma               NaN     urmila matondkar
10            yash chopra  amitabh bachchan                rekha
11     ashutosh gowarikar    shah rukh khan                  NaN
12             sam mendes     george mackay                  NaN
13                    NaN               srk                  NaN

              music     villain  budgetmn  collectionmn     comedian  \
0        r d burman  amjad khan      30.0         410.0          NaN
1               NaN         NaN     850.0        8540.0          NaN
2               NaN         NaN    4725.0       34950.0          NaN
3           naushad         NaN      15.0         110.0          NaN
4               NaN         NaN   11250.0       51225.0          NaN
5   salil choudhari         NaN       NaN           NaN          NaN
6        r d burman         NaN     257.0         896.0          NaN
7        s d burman   k n singh       NaN           NaN          NaN
8               NaN         NaN     350.0        1692.0  johny lever
9    salim sulaiman         NaN       NaN           NaN          NaN
10        shiv hari         NaN       NaN           NaN          NaN
11       a r rahman         NaN     250.0         380.0          NaN
12              NaN         NaN    7125.0       28875.0          NaN
13              NaN         NaN       NaN           NaN          NaN

   cinematography
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10            NaN
11            NaN
12  roger deakins
13            NaN

In [9]:
db=client["shoppingdb"]

In [10]:
coll=db["customers"]

In [11]:
data=list(coll.find())

In [12]:
print(data)

[{'_id': ObjectId('68142d4f5de32e393ab5f89a'), 'custid': 1, 'custnm': 'Anita Sharma', 'age': 28, 'gender': 'Female', 'city': 'Mumbai', 'email': 'anita.sharma@example.com'}, {'_id': ObjectId('68142d4f5de32e393ab5f89b'), 'custid': 2, 'custnm': 'Rajesh Kumar', 'age': 35, 'gender': 'Male', 'city': 'Delhi', 'email': 'rajesh.kumar@example.com'}, {'_id': ObjectId('68142d4f5de32e393ab5f89c'), 'custid': 3, 'custnm': 'Priya Singh', 'age': 24, 'gender': 'Female', 'city': 'Bangalore', 'email': 'priya.singh@example.com'}, {'_id': ObjectId('68142d4f5de32e393ab5f89d'), 'custid': 4, 'custnm': 'Amit Patel', 'age': 40, 'gender': 'Male', 'city': 'Ahmedabad', 'email': 'amit.patel@example.com'}, {'_id': ObjectId('68142d4f5de32e393ab5f89e'), 'custid': 5, 'custnm': 'Neha Verma', 'age': 31, 'gender': 'Female', 'city': 'Pune', 'email': 'neha.verma@example.com'}, {'_id': ObjectId('68142d4f5de32e393ab5f8a0'), 'custid': 7, 'custnm': 'Ritika Mehra', 'age': 27, 'gender': 'Female', 'city': 'Hyderabad', 'email': 'ritika.mehra@example.com'}, {'_id': ObjectId('68142d4f5de32e393ab5f8a1'), 'custid': 8, 'custnm': 'Manoj Desai', 'age': 45, 'gender': 'Male', 'city': 'Surat', 'email': 'manoj.desai@example.com'}, {'_id': ObjectId('68142d4f5de32e393ab5f8a2'), 'custid': 9, 'custnm': 'Divya Nair', 'age': 22, 'gender': 'Female', 'city': 'Kochi', 'email': 'divya.nair@example.com'}, {'_id': ObjectId('68142d4f5de32e393ab5f8a3'), 'custid': 10, 'custnm': 'Rohan Kapoor', 'age': 33, 'gender': 'Male', 'city': 'Jaipur', 'email': 'rohan.kapoor@example.com'}]

In [14]:
for doc in data:
  doc.pop('_id')

print(data)

[{'custid': 1, 'custnm': 'Anita Sharma', 'age': 28, 'gender': 'Female', 'city': 'Mumbai', 'email': 'anita.sharma@example.com'}, {'custid': 2, 'custnm': 'Rajesh Kumar', 'age': 35, 'gender': 'Male', 'city': 'Delhi', 'email': 'rajesh.kumar@example.com'}, {'custid': 3, 'custnm': 'Priya Singh', 'age': 24, 'gender': 'Female', 'city': 'Bangalore', 'email': 'priya.singh@example.com'}, {'custid': 4, 'custnm': 'Amit Patel', 'age': 40, 'gender': 'Male', 'city': 'Ahmedabad', 'email': 'amit.patel@example.com'}, {'custid': 5, 'custnm': 'Neha Verma', 'age': 31, 'gender': 'Female', 'city': 'Pune', 'email': 'neha.verma@example.com'}, {'custid': 7, 'custnm': 'Ritika Mehra', 'age': 27, 'gender': 'Female', 'city': 'Hyderabad', 'email': 'ritika.mehra@example.com'}, {'custid': 8, 'custnm': 'Manoj Desai', 'age': 45, 'gender': 'Male', 'city': 'Surat', 'email': 'manoj.desai@example.com'}, {'custid': 9, 'custnm': 'Divya Nair', 'age': 22, 'gender': 'Female', 'city': 'Kochi', 'email': 'divya.nair@example.com'}, {'custid': 10, 'custnm': 'Rohan Kapoor', 'age': 33, 'gender': 'Male', 'city': 'Jaipur', 'email': 'rohan.kapoor@example.com'}]

In [15]:
df=pandas.DataFrame(data)
print(df)

   custid        custnm  age  gender       city                     email
0       1  Anita Sharma   28  Female     Mumbai  anita.sharma@example.com
1       2  Rajesh Kumar   35    Male      Delhi  rajesh.kumar@example.com
2       3   Priya Singh   24  Female  Bangalore   priya.singh@example.com
3       4    Amit Patel   40    Male  Ahmedabad    amit.patel@example.com
4       5    Neha Verma   31  Female       Pune    neha.verma@example.com
5       7  Ritika Mehra   27  Female  Hyderabad  ritika.mehra@example.com
6       8   Manoj Desai   45    Male      Surat   manoj.desai@example.com
7       9    Divya Nair   22  Female      Kochi    divya.nair@example.com
8      10  Rohan Kapoor   33    Male     Jaipur  rohan.kapoor@example.com