In [1]:
import pandas

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.13.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.13.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 17.8 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 23.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.13.0

In [3]:
from pymongo import MongoClient

In [4]:
client=MongoClient("mongodb+srv://sharayu:mongodb913@praffullcluster.jfybhkc.mongodb.net/?retryWrites=true&w=majority&appName=praffullcluster")
print('Python program connected to MongoDB successfully')

Python program connected to MongoDB successfully

In [13]:
db=client["spiderdb"]

In [14]:
coll=db["films"]

In [15]:
data=list(coll.find())
df=pandas.DataFrame(data)
print(df)

    _id                filmnm category  releaseyr      written  \
0   151                sholay   action       1975  salim javed
1   152                    pk   comedy       2014          NaN
2   153            the matrix   action       1999          NaN
3   154         mughal e azam  romance       1960          NaN
4   155      mi5 rogue nation   action       2015          NaN
5   156                  maya  romance       1961          NaN
6   157     1942 a love story  romance       1994          NaN
7   158  chalti ka naam gaadi   comedy       1958          NaN
8   159             golmaal 3   comedy       2010          NaN
9   160                 bhoot   horror       2003          NaN
10  161               silsila  romance       1981          NaN
11  162                swades    drama       2004          NaN
12  163                  1917      war       2019          NaN
13  164                dil se  romance       1998          NaN

                 director             actor              actress  \
0            ramesh sippy  amitabh bachchan         jaya bhaduri
1         rajkumar hirani         amir khan       anushka sharma
2          wachowski bros      keanu reeves     carrie-anne moss
3                  k asif       dilip kumar            madhubala
4   christopher mcquarrie        tom cruise    rebeccca ferguson
5                     NaN         dev anand           mala sinha
6      vidhu vinod chopra       anil kapoor      manisha koirala
7             satyen bose     koshore kumar            madhubala
8            rohit shetty       ajay devgan  kareena kapoor khan
9         ram gopal verma               NaN     urmila matondkar
10            yash chopra  amitabh bachchan                rekha
11     ashutosh gowarikar    shah rukh khan                  NaN
12             sam mendes     george mackay                  NaN
13                    NaN               srk                  NaN

              music     villain  budgetmn  collectionmn     comedian  \
0        r d burman  amjad khan      30.0         410.0          NaN
1               NaN         NaN     850.0        8540.0          NaN
2               NaN         NaN    4725.0       34950.0          NaN
3           naushad         NaN      15.0         110.0          NaN
4               NaN         NaN   11250.0       51225.0          NaN
5   salil choudhari         NaN       NaN           NaN          NaN
6        r d burman         NaN     257.0         896.0          NaN
7        s d burman   k n singh       NaN           NaN          NaN
8               NaN         NaN     350.0        1692.0  johny lever
9    salim sulaiman         NaN       NaN           NaN          NaN
10        shiv hari         NaN       NaN           NaN          NaN
11       a r rahman         NaN     250.0         380.0          NaN
12              NaN         NaN    7125.0       28875.0          NaN
13              NaN         NaN       NaN           NaN          NaN

   cinematography
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10            NaN
11            NaN
12  roger deakins
13            NaN

In [16]:
print(pandas.isnull(df))

      _id  filmnm  category  releaseyr  written  director  actor  actress  \
0   False   False     False      False    False     False  False    False
1   False   False     False      False     True     False  False    False
2   False   False     False      False     True     False  False    False
3   False   False     False      False     True     False  False    False
4   False   False     False      False     True     False  False    False
5   False   False     False      False     True      True  False    False
6   False   False     False      False     True     False  False    False
7   False   False     False      False     True     False  False    False
8   False   False     False      False     True     False  False    False
9   False   False     False      False     True     False   True    False
10  False   False     False      False     True     False  False    False
11  False   False     False      False     True     False  False     True
12  False   False     False      False     True     False  False     True
13  False   False     False      False     True      True  False     True

    music  villain  budgetmn  collectionmn  comedian  cinematography
0   False    False     False         False      True            True
1    True     True     False         False      True            True
2    True     True     False         False      True            True
3   False     True     False         False      True            True
4    True     True     False         False      True            True
5   False     True      True          True      True            True
6   False     True     False         False      True            True
7   False    False      True          True      True            True
8    True     True     False         False     False            True
9   False     True      True          True      True            True
10  False     True      True          True      True            True
11  False     True     False         False      True            True
12   True     True     False         False      True           False
13   True     True      True          True      True            True

In [17]:
#remove rows with null values
res=df.dropna()
print(res)

Empty DataFrame
Columns: [_id, filmnm, category, releaseyr, written, director, actor, actress, music, villain, budgetmn, collectionmn, comedian, cinematography]
Index: []

In [18]:
#remove columns with null values
res=df.dropna(axis=1)
print(res)

    _id                filmnm category  releaseyr
0   151                sholay   action       1975
1   152                    pk   comedy       2014
2   153            the matrix   action       1999
3   154         mughal e azam  romance       1960
4   155      mi5 rogue nation   action       2015
5   156                  maya  romance       1961
6   157     1942 a love story  romance       1994
7   158  chalti ka naam gaadi   comedy       1958
8   159             golmaal 3   comedy       2010
9   160                 bhoot   horror       2003
10  161               silsila  romance       1981
11  162                swades    drama       2004
12  163                  1917      war       2019
13  164                dil se  romance       1998

In [19]:
df['written'].fillna('javed akhtar',inplace=True)
print(df)

    _id                filmnm category  releaseyr       written  \
0   151                sholay   action       1975   salim javed
1   152                    pk   comedy       2014  javed akhtar
2   153            the matrix   action       1999  javed akhtar
3   154         mughal e azam  romance       1960  javed akhtar
4   155      mi5 rogue nation   action       2015  javed akhtar
5   156                  maya  romance       1961  javed akhtar
6   157     1942 a love story  romance       1994  javed akhtar
7   158  chalti ka naam gaadi   comedy       1958  javed akhtar
8   159             golmaal 3   comedy       2010  javed akhtar
9   160                 bhoot   horror       2003  javed akhtar
10  161               silsila  romance       1981  javed akhtar
11  162                swades    drama       2004  javed akhtar
12  163                  1917      war       2019  javed akhtar
13  164                dil se  romance       1998  javed akhtar

                 director             actor              actress  \
0            ramesh sippy  amitabh bachchan         jaya bhaduri
1         rajkumar hirani         amir khan       anushka sharma
2          wachowski bros      keanu reeves     carrie-anne moss
3                  k asif       dilip kumar            madhubala
4   christopher mcquarrie        tom cruise    rebeccca ferguson
5                     NaN         dev anand           mala sinha
6      vidhu vinod chopra       anil kapoor      manisha koirala
7             satyen bose     koshore kumar            madhubala
8            rohit shetty       ajay devgan  kareena kapoor khan
9         ram gopal verma               NaN     urmila matondkar
10            yash chopra  amitabh bachchan                rekha
11     ashutosh gowarikar    shah rukh khan                  NaN
12             sam mendes     george mackay                  NaN
13                    NaN               srk                  NaN

              music     villain  budgetmn  collectionmn     comedian  \
0        r d burman  amjad khan      30.0         410.0          NaN
1               NaN         NaN     850.0        8540.0          NaN
2               NaN         NaN    4725.0       34950.0          NaN
3           naushad         NaN      15.0         110.0          NaN
4               NaN         NaN   11250.0       51225.0          NaN
5   salil choudhari         NaN       NaN           NaN          NaN
6        r d burman         NaN     257.0         896.0          NaN
7        s d burman   k n singh       NaN           NaN          NaN
8               NaN         NaN     350.0        1692.0  johny lever
9    salim sulaiman         NaN       NaN           NaN          NaN
10        shiv hari         NaN       NaN           NaN          NaN
11       a r rahman         NaN     250.0         380.0          NaN
12              NaN         NaN    7125.0       28875.0          NaN
13              NaN         NaN       NaN           NaN          NaN

   cinematography
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10            NaN
11            NaN
12  roger deakins
13            NaN

<ipython-input-19-11ca9f43d72c>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['written'].fillna('javed akhtar',inplace=True)

In [20]:
res=df.dropna(axis=1)
print(res)

    _id                filmnm category  releaseyr       written
0   151                sholay   action       1975   salim javed
1   152                    pk   comedy       2014  javed akhtar
2   153            the matrix   action       1999  javed akhtar
3   154         mughal e azam  romance       1960  javed akhtar
4   155      mi5 rogue nation   action       2015  javed akhtar
5   156                  maya  romance       1961  javed akhtar
6   157     1942 a love story  romance       1994  javed akhtar
7   158  chalti ka naam gaadi   comedy       1958  javed akhtar
8   159             golmaal 3   comedy       2010  javed akhtar
9   160                 bhoot   horror       2003  javed akhtar
10  161               silsila  romance       1981  javed akhtar
11  162                swades    drama       2004  javed akhtar
12  163                  1917      war       2019  javed akhtar
13  164                dil se  romance       1998  javed akhtar