In [1]:
import pandas

In [2]:
url="http://sohamspring.azurewebsites.net/api/accounts/all"

In [3]:
df=pandas.read_json(url)
print(df)

    accno                    accnm  acctype  balance
0    1001         sachin tendulkar   saving    45000
1    1002          maria sharapova    fixed    23100
2    1003         mitchell johnson  current    15300
3    1004              edan hazard   saving    41300
4    1005       robert lewandowski   saving    21600
5    1006            gabriel jesus    fixed    37100
6    1008            marcos alonso   saving    33900
7    1009               david luiz  current    28400
8    1010              steve smith    fixed    61150
9    1012              zaheer khan   saving    22570
10   1013         antoine griezman    fixed    37640
11   1014           nasser hussain   saving    53760
12   1015               paul pogba   saving    67370
13   1016             garry cahill  current    39550
14   1017         thibaut courtois    fixed    97550
15   1018        cesar azpilicueta  current    82716
16   1019            cesc fabregas  current    82716
17   1020              ngolo kante    fixed    55871
18   1021           james anderson  current    63228
19   1022               ollie pope   saving    75961
20   1023                 moin ali  current    26551
21   1024               sam curran      ppf    63558
22   1025      andreas christensen   saving    68523
23   1026            alvaro morata   saving    96995
24   1027         liam livingstone  current    49668
25   1028                mark wood    fixed    75442
26   1029            mohamed salah   saving    83229
27   1030               sadio mane      ppf    45889
28   1031          roberto firmino    fixed    96321
29   1032  alex oxlade chamberlain  current    58449
30   1033      alexandre lacazette   saving    36227
31   1034          raheem sterling    fixed    62994
32   1035               harry kane  current    78751
33   1036                dele alli    fixed    96637
34   1037              hugo lloris   saving    84552
35   1038               bill gates  current    93119
36   1039                amir khan   saving    66554
37   1040              adil rashid      ppf    39870
38   1041             chris jordan   saving    55400
39   1042                jason roy   saving    29750
40   1043             chris woakes      ppf    50000
41   1044               alex hales   saving    38540
42   1045              dawid malan   saving    62100
43   1046               ben stokes   saving    57500
44   1047                 joe root      ppf   125000
45   1048                 isa guha   saving    72300
46   1049             ravi shastri   saving    55040
47   1050            harsha bhogle   saving    87980
48   1051             irfan pathan      ppf    75000
49   1052              patric jane      ppf    87500
50   1053           manmohan singh    fixed   300000

In [4]:
dfgroups=df.groupby('acctype')
print(dfgroups)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7a8a57c8ef50>

In [5]:
for gr in dfgroups:
  print(gr)
  print("--------------------")

('current',     accno                    accnm  acctype  balance
2    1003         mitchell johnson  current    15300
7    1009               david luiz  current    28400
13   1016             garry cahill  current    39550
15   1018        cesar azpilicueta  current    82716
16   1019            cesc fabregas  current    82716
18   1021           james anderson  current    63228
20   1023                 moin ali  current    26551
24   1027         liam livingstone  current    49668
29   1032  alex oxlade chamberlain  current    58449
32   1035               harry kane  current    78751
35   1038               bill gates  current    93119)
--------------------
('fixed',     accno             accnm acctype  balance
1    1002   maria sharapova   fixed    23100
5    1006     gabriel jesus   fixed    37100
8    1010       steve smith   fixed    61150
10   1013  antoine griezman   fixed    37640
14   1017  thibaut courtois   fixed    97550
17   1020       ngolo kante   fixed    55871
25   1028         mark wood   fixed    75442
28   1031   roberto firmino   fixed    96321
31   1034   raheem sterling   fixed    62994
33   1036         dele alli   fixed    96637
50   1053    manmohan singh   fixed   300000)
--------------------
('ppf',     accno         accnm acctype  balance
21   1024    sam curran     ppf    63558
27   1030    sadio mane     ppf    45889
37   1040   adil rashid     ppf    39870
40   1043  chris woakes     ppf    50000
44   1047      joe root     ppf   125000
48   1051  irfan pathan     ppf    75000
49   1052   patric jane     ppf    87500)
--------------------
('saving',     accno                accnm acctype  balance
0    1001     sachin tendulkar  saving    45000
3    1004          edan hazard  saving    41300
4    1005   robert lewandowski  saving    21600
6    1008        marcos alonso  saving    33900
9    1012          zaheer khan  saving    22570
11   1014       nasser hussain  saving    53760
12   1015           paul pogba  saving    67370
19   1022           ollie pope  saving    75961
22   1025  andreas christensen  saving    68523
23   1026        alvaro morata  saving    96995
26   1029        mohamed salah  saving    83229
30   1033  alexandre lacazette  saving    36227
34   1037          hugo lloris  saving    84552
36   1039            amir khan  saving    66554
38   1041         chris jordan  saving    55400
39   1042            jason roy  saving    29750
41   1044           alex hales  saving    38540
42   1045          dawid malan  saving    62100
43   1046           ben stokes  saving    57500
45   1048             isa guha  saving    72300
46   1049         ravi shastri  saving    55040
47   1050        harsha bhogle  saving    87980)
--------------------

In [6]:
print(df['acctype'].value_counts())

acctype
saving     22
fixed      11
current    11
ppf         7
Name: count, dtype: int64

In [7]:
df=pandas.read_json("http://sohamspring.azurewebsites.net/api/players/all")
print(df)

     playerno          playernm    position  country         club
0         913       Will Dennis  Goalkeeper  England  Bournemouth
1         914      Mark Travers  Goalkeeper  Ireland  Bournemouth
2         915       Lloyd Kelly    Defender  England  Bournemouth
3         916      Chris Mepham    Defender    Wales  Bournemouth
4         917        Adam Smith    Defender  England  Bournemouth
..        ...               ...         ...      ...          ...
446      1360       Diego Costa     Forward    Spain       Wolves
447      1361     Chem Campbell  Midfielder    Wales       Wolves
448      1362  Harvey Griffiths  Midfielder  England       Wolves
449      1363     Nathan Fraser     Forward  Ireland       Wolves
450      1364  Dexter Lembikisa    Defender  Jamaica       Wolves

[451 rows x 5 columns]

In [10]:
print(df['country'].value_counts().head(10))

country
England      190
Portugal      21
Brazil        20
Spain         20
France        20
Ireland       17
Scotland      13
Belgium        9
Germany        9
Argentina      8
Name: count, dtype: int64

In [11]:
print(df['position'].value_counts())

position
Midfielder    164
Defender      150
Forward        84
Goalkeeper     53
Name: count, dtype: int64