In [1]:
import pandas

In [2]:
df=pandas.DataFrame(columns=['name','science','english','maths'])
print(df)

Empty DataFrame
Columns: [name, science, english, maths]
Index: []

In [3]:
df.loc[0]=['Swami',94,86,98]
print(df)

    name  science  english  maths
0  Swami       94       86     98

In [4]:
df.loc[1]=['praffull',79,72,37]
print(df)

       name  science  english  maths
0     Swami       94       86     98
1  praffull       79       72     37

In [5]:
df.loc[2,['name','maths']]=['ajinkya',91]

In [6]:
print(df)

       name  science  english  maths
0     Swami     94.0     86.0   98.0
1  praffull     79.0     72.0   37.0
2   ajinkya      NaN      NaN   91.0