In [1]:
import pandas

In [2]:
df=pandas.DataFrame(columns=['name','science','english','maths'])
print(df)

Empty DataFrame
Columns: [name, science, english, maths]
Index: []

In [3]:
df.loc[0]=['Swami',94,86,98]
print(df)

    name  science  english  maths
0  Swami       94       86     98

In [4]:
df.loc[1]=['praffull',79,72,37]
print(df)

       name  science  english  maths
0     Swami       94       86     98
1  praffull       79       72     37

In [5]:
df.loc[2,['name','maths']]=['ajinkya',91]

In [6]:
print(df)

       name  science  english  maths
0     Swami     94.0     86.0   98.0
1  praffull     79.0     72.0   37.0
2   ajinkya      NaN      NaN   91.0

In [7]:
df.loc[2,'science']=67
print(df)

       name  science  english  maths
0     Swami     94.0     86.0   98.0
1  praffull     79.0     72.0   37.0
2   ajinkya     67.0      NaN   91.0

In [8]:
df.loc[1,'name']='jonty'
print(df)

      name  science  english  maths
0    Swami     94.0     86.0   98.0
1    jonty     79.0     72.0   37.0
2  ajinkya     67.0      NaN   91.0

In [12]:
dic={
    'country':['usa','england','france','germany','japan'],
    'capital':['washington','london','paris','berlin','tokyo']
}
df=pandas.DataFrame(dic)
print(df)

   country     capital
0      usa  washington
1  england      london
2   france       paris
3  germany      berlin
4    japan       tokyo

In [13]:
#df.insert(0,'code',[101,102,103,104,105])
df.insert(0,'code',[x for x in range(131,136)])
print(df)

   code  country     capital
0   131      usa  washington
1   132  england      london
2   133   france       paris
3   134  germany      berlin
4   135    japan       tokyo

In [14]:
lst=['USD','pounds','euro','euro','yen']
df.insert(3,'currency',lst)

In [15]:
print(df)

   code  country     capital currency
0   131      usa  washington      USD
1   132  england      london   pounds
2   133   france       paris     euro
3   134  germany      berlin     euro
4   135    japan       tokyo      yen