In [1]:
import pandas

In [2]:
url="https://raw.githubusercontent.com/sohamglobal/datasets/refs/heads/main/Flipkart_Mobiles.csv"
df=pandas.read_csv(url)
print(df)

        Brand   Model            Color Memory Storage  Rating  Selling Price  \
0        OPPO     A53  Moonlight Black   4 GB   64 GB     4.5          11990
1        OPPO     A53       Mint Cream   4 GB   64 GB     4.5          11990
2        OPPO     A53  Moonlight Black   6 GB  128 GB     4.3          13990
3        OPPO     A53       Mint Cream   6 GB  128 GB     4.3          13990
4        OPPO     A53   Electric Black   4 GB   64 GB     4.5          11990
...       ...     ...              ...    ...     ...     ...            ...
3109  SAMSUNG  M52 5G    Blazing Black   6 GB  128 GB     4.3          25990
3110  SAMSUNG  M52 5G         Icy Blue   6 GB  128 GB     4.3          25489
3111  SAMSUNG  M52 5G         Icy Blue   8 GB  128 GB     4.3          27239
3112  SAMSUNG  M52 5G      Slate Black   8 GB  128 GB     4.2          22989
3113  SAMSUNG  M52 5G         Sky Blue   8 GB  128 GB     4.2          20350

      Original Price
0              15990
1              15990
2              17990
3              17990
4              15990
...              ...
3109           25990
3110           28449
3111           31489
3112           22989
3113           22595

[3114 rows x 8 columns]

In [3]:
print(df.head(3))

  Brand Model            Color Memory Storage  Rating  Selling Price  \
0  OPPO   A53  Moonlight Black   4 GB   64 GB     4.5          11990
1  OPPO   A53       Mint Cream   4 GB   64 GB     4.5          11990
2  OPPO   A53  Moonlight Black   6 GB  128 GB     4.3          13990

   Original Price
0           15990
1           15990
2           17990

In [4]:
print(df.tail(2))

        Brand   Model        Color Memory Storage  Rating  Selling Price  \
3112  SAMSUNG  M52 5G  Slate Black   8 GB  128 GB     4.2          22989
3113  SAMSUNG  M52 5G     Sky Blue   8 GB  128 GB     4.2          20350

      Original Price
3112           22989
3113           22595

In [5]:
#combining rows
res=pandas.concat([df.head(3),df.tail(2)])
print(res)

        Brand   Model            Color Memory Storage  Rating  Selling Price  \
0        OPPO     A53  Moonlight Black   4 GB   64 GB     4.5          11990
1        OPPO     A53       Mint Cream   4 GB   64 GB     4.5          11990
2        OPPO     A53  Moonlight Black   6 GB  128 GB     4.3          13990
3112  SAMSUNG  M52 5G      Slate Black   8 GB  128 GB     4.2          22989
3113  SAMSUNG  M52 5G         Sky Blue   8 GB  128 GB     4.2          20350

      Original Price
0              15990
1              15990
2              17990
3112           22989
3113           22595

In [6]:
df1=df[['Brand']]
df2=df[['Color','Selling Price']]
print(df1)
print(df2)

        Brand
0        OPPO
1        OPPO
2        OPPO
3        OPPO
4        OPPO
...       ...
3109  SAMSUNG
3110  SAMSUNG
3111  SAMSUNG
3112  SAMSUNG
3113  SAMSUNG

[3114 rows x 1 columns]
                Color  Selling Price
0     Moonlight Black          11990
1          Mint Cream          11990
2     Moonlight Black          13990
3          Mint Cream          13990
4      Electric Black          11990
...               ...            ...
3109    Blazing Black          25990
3110         Icy Blue          25489
3111         Icy Blue          27239
3112      Slate Black          22989
3113         Sky Blue          20350

[3114 rows x 2 columns]

In [8]:
#combining columns
res=pandas.concat([df1,df2],axis=1)
print(res)

        Brand            Color  Selling Price
0        OPPO  Moonlight Black          11990
1        OPPO       Mint Cream          11990
2        OPPO  Moonlight Black          13990
3        OPPO       Mint Cream          13990
4        OPPO   Electric Black          11990
...       ...              ...            ...
3109  SAMSUNG    Blazing Black          25990
3110  SAMSUNG         Icy Blue          25489
3111  SAMSUNG         Icy Blue          27239
3112  SAMSUNG      Slate Black          22989
3113  SAMSUNG         Sky Blue          20350

[3114 rows x 3 columns]