**NumPy arrays of other data types**

In [1]:
import numpy

In [2]:
sarr=numpy.array(['java','sql','python','spring','spark','jpa'])
print(sarr)

['java' 'sql' 'python' 'spring' 'spark' 'jpa']

In [4]:
darr=numpy.arange('2025-01-26','2025-02-15',dtype='datetime64[D]')
print(darr)

['2025-01-26' '2025-01-27' '2025-01-28' '2025-01-29' '2025-01-30'
 '2025-01-31' '2025-02-01' '2025-02-02' '2025-02-03' '2025-02-04'
 '2025-02-05' '2025-02-06' '2025-02-07' '2025-02-08' '2025-02-09'
 '2025-02-10' '2025-02-11' '2025-02-12' '2025-02-13' '2025-02-14']

In [5]:
barr=numpy.array([False,True,True,True,False,False,True])
print(barr)

[False  True  True  True False False  True]

In [10]:
lst=['data science',9,26.13,True]
print(lst)
for item in lst:
  print(type(item))

['data science', 9, 26.13, True]
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [15]:
marr=numpy.array(lst)
print(marr)
for i in range(0,4):
  print(type(marr[i]))

['data science' '9' '26.13' 'True']
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>