**Retrieve data from MySQL and store in NumPy**

In [2]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.6 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [3]:
import pymysql

In [4]:
con=pymysql.connect(host='mysql-ethan-python-mysql.h.aivencloud.com',port=10413,user='praffull',password='AVNS_owESNvPFD5fnVDwuWUq',database='sharayudb')
print('python connected to cloud mysql database successfully')

python connected to cloud mysql database successfully

In [5]:
curs=con.cursor()

In [7]:
import numpy

In [8]:
curs.execute("select * from customers")
data=curs.fetchall()
arr=numpy.array(data)
print(arr)

[['1' 'Joe Root' 'london' 'sk181' 'netbanking']
 ['2' 'Boris Becker' 'berlin' 'ho162' 'cash']
 ['3' 'Michael Schumacher' 'berlin' 'bm201' 'credit card']
 ['4' 'Arnold Schwarzenegger' 'los angles' 'to191' 'credit card']
 ['5' 'Jos Buttler' 'manchester' 'vw173' 'credit card']
 ['6' 'Rebecca Ferguson' 'new york' 'bm185' 'netbanking']
 ['7' 'Steffi Graf' 'stuttgart' 'vw171' 'debit card']
 ['8' 'Keanu Reeves' 'tokyo' 'to191' 'credit card']
 ['9' 'Sabastian Vettel' 'heppenheim' 'sk183' 'credit card']
 ['10' 'Tom Cruise' 'chicago' 'bm201' 'cash']
 ['11' 'Roger Federer' 'amsterdam' 'ho161' 'credit card']
 ['12' 'Emily Blunt' 'london' 'vw172' 'credit card']
 ['13' 'Shah Rukh Khan' 'new delhi' 'tt153' 'debit card']
 ['14' 'A R Rahman' 'chennai' 'hd142' 'cash']
 ['15' 'Tabu' 'hyderabad' 'vw173' 'debit card']
 ['16' 'Shabana Azmi' 'mumbai' 'ss210' 'debit card']
 ['17' 'Rekha' 'chennai' 'hd141' 'cash']
 ['18' 'Amitabh Bachchan' 'allahabad' 'cs682' 'cash']
 ['19' 'Imran Khan' 'lahore' 'to191' 'netbanking']
 ['20' 'Dipika Singh' 'mumbai' 'to193' 'netbanking']
 ['21' 'Alia Bhat' 'lucknow' 'hd142' 'cash']
 ['22' 'Serena Williams' 'new york' 'ss210' 'netbanking']
 ['23' 'Max Verstappen' 'berlin' 'rb739' 'cash']
 ['24' 'Charles Leclerc' 'monte carlo' 'fr133' 'debit card']
 ['25' 'Sylvester Stallone' 'Kolkata' 'ms134' 'cash']
 ['26' 'Emily Blunt' 'Agra' 'ms131' 'netbanking']]

In [9]:
print(arr.shape)

(26, 5)

In [10]:
curs.execute("select * from cars")
data=curs.fetchall()
arr=numpy.array(data)
print(arr)

[['bm201' 'XM' 'BMW' '12500000.0']
 ['bm202' 'X1' 'BMW' '4145000.0']
 ['hd141' 'Venue' 'Hyundai' '753000.0']
 ['hd142' 'Creta' 'Hyundai' '1044000.0']
 ['hd143' 'i20' 'Hyundai' '707000.0']
 ['hd144' 'i10' 'Hyundai' '542000.0']
 ['ho161' 'City' 'Honda' '950000.0']
 ['ho162' 'Amaze' 'Honda' '665000.0']
 ['ms131' 'Swift' 'Maruti Suzuki' '591000.0']
 ['ms132' 'Grand Vitara' 'Maruti Suzuki' '1035000.0']
 ['ms133' 'Brezza' 'Maruti Suzuki' '799000.0']
 ['ms134' 'Baleno' 'Maruti Suzuki' '642000.0']
 ['ms135' 'WagonR' 'Maruti Suzuki' '547000.0']
 ['sk181' 'Kushaq' 'Skoda' '1158000.0']
 ['sk182' 'Superb' 'Skoda' '3416000.0']
 ['sk183' 'Kodiaq' 'Skoda' '3749000.0']
 ['to191' 'Fortuner' 'Toyota' '3258000.0']
 ['to192' 'Glanza' 'Toyota' '659000.0']
 ['to193' 'Innova' 'Toyota' '1809000.0']
 ['tt151' 'Nexon' 'Tata' '769000.0']
 ['tt152' 'Punch' 'Tata' '600000.0']
 ['tt153' 'Safari' 'Tata' '1545000.0']
 ['vw171' 'Virtus' 'Volkswagen' '1132000.0']
 ['vw172' 'Taigun' 'Volkswagen' '1256000.0']
 ['vw173' 'Tiguan' 'Volkswagen' '3375000.0']]

In [11]:
print(arr.shape)

(25, 4)

In [12]:
con.close()